body{
    margin: 0;
}
.nav-menu {
    display: flex;
    width: 100%;
    height: 100px;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 2;
}

.logo {
    display: flex;
    padding-right: 65px;
    align-items: center;
    height: 80px;
}

.text-logo{
    font-family: 'Raleway', sans-serif;
    font-size: 34px;
    font-weight: 400;
    color: #ffffff;
}

.dws-menu ul {
    list-style: none;
    
}

.dws-menu > ul{
    display: flex;
    justify-content: space-between;
    padding: 0;
}

.dws-menu > ul li a{
    display: block;
    padding: 15px 15px 15px 0px;
    font-size: 14px;
    text-decoration: none;
    color:#ffffff;
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
}

.dws-menu ul li{
    position: relative;
}

.dws-menu li a:hover{
    color: #ac9a86;
    transition: all 0.7s linear;
}

.dws-menu li ul{
    position: absolute;
    padding-left:0; 
    display: none;
}
.dws-menu li > ul li ul{
    position: absolute;
    right: -30px;
    top: 0;
}
.dws-menu li:hover > ul{
    display: block;
}
.dws-menu ul li ul a{
    text-transform: none;
    padding-right: 0px;
}

.search i{
    color: white;
    font-size: 22px;
}
.fa-shopping-bag{
    padding-left: 30px;
}
.fa-search{
    padding-left: 10px;
}

.search i:hover{
    color: #ac9a86;
    transition: all 0.7s linear;
}
.slider-in-header{
    display: flex;
    width: 100%;
    height: 100%;
    position: relative;

}
.slider-class{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    position: relative;
}
.wrapper-header{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;

}

.header-text{
    color: #ffffff;
    font-size: 36px;
    font-family: 'Raleway', sans-serif;
    font-weight: 100;
    margin: 0;
    position: absolute;
    top: 37%;
    left: 50%;
    transform: translate(-50%, -50%);
    letter-spacing: 1px; 
}

.h-text{
    color: #ffffff;
    font-size: 52px;
    font-family: 'Raleway', sans-serif;
    letter-spacing: 1px;
    font-weight: 800;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.p-text{
    color: #ffffff;
    position: absolute;
    font-family: 'Montserrat', sans-serif;
    font-weight: 100;
    font-size: 16px;
    top: 52%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.button-button{
    position: absolute;
    width: 168px;
    height: 50px;
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    background: #65584d;
    font-size: 14px;
    letter-spacing: 1px;
    border-radius: 3px;
    font-weight: 800;
    top: 63%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    text-transform: uppercase;
}
.slick-next {
    right: 40px;
}

.slick-prev {
    left: 40px;
    z-index: 1;
}



.header-button:hover{
    background: #ffffff;
    color: #65584d;
    transition: all 0.7s linear;
}

.slider-img{
    max-width: 100%;
    height: auto;
    
}

.service{
    display: flex;
    width: 100%;
    height: 370px;
}
.conteiner{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.service-block{
    width: 25%;
    height: 70%;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    cursor: pointer;
    transition: 0.5s ease;
    align-items: center;

}
.service-block i{
    font-size: 60px;

}
.service-block h1{
    font-size: 22px;
    font-weight: 600;
    color: #555555;
    transition: 0.5s ease;

}
.service-block p{
font-family: 'Montserrat', sans-serif;
font-size: 14px;
font-weight: 300;
text-align: center;
line-height: 1.6;
}
.block-line{
    width: 35%;
    height: 4px;
    display: flex;
    transition: 0.5s ease;
}
.service-block:hover{
    margin-top: -10px;
}
.service-block:hover i{
    color: #8e7f6d;
}
.service-block:hover h1{
    color: #8e7f6d;
}
.service-block:hover .block-line{
    background: #8e7f6d;
}

.slider-in-header .slick-arrow i {
    font-size: 35px;
    color: white;
}
.slick-prev:before,
.slick-next:before{
    color:transparent;
}
.slick-dots{
    bottom: 70px;
}
.slick-dots li button:before{
    font-family: 'slick';
    font-size: 16px;
    line-height: 20px;
    position: absolute;
    top: 0;
    left: 0;
    width: 15px;
    height: 17px;
    content: '•';
    text-align: center;
    opacity: .5;
    color: white;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.slick-dots li.slick-active button:before{
    opacity: .75;
    color: black;
    border: 2px solid white;
    border-radius: 50%;
}
.slick-dotted.slick-slider{
    margin: 0;
}

.waxom{
    width: 100%;
    height: 770px;
    background-color: #fbfaf8; 
}
.waxom-text{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    height: 100%;
}
.waxom-h1{
    font-family: 'Montserrat', sans-serif;
    color: #555555;
    font-weight: 600;
    font-size: 30px;
    padding-top: 50px;
    position: absolute;
    top: 0;

}
.waxom-p{
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    text-align: center;
    color: #8d8c8c;
    font-weight: 300;
    margin: 0;
    line-height: 1.6;
    position: absolute;
    top: 117px;
    
}
 .waxom-img{
    top: 489px;
    position: relative;
    z-index: 1;
}
.waxom-img2{
    position: relative;
    top: 76px;
    right: 270px;
}
.waxom-img3{
    position: relative;
    bottom: 374px;
    left: 270px;
}
.waxom-text-boxes{
    width: 100%;
    height: 126px;
    background: linear-gradient(to right, rgba(33,27,25,1) 0%, rgba(78,52,39,1) 100%);
    position: absolute;
    bottom: 0px;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
}  
.text-boxes{
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.button-boxes{
    width: 20%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.text-boxes-h1{
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    color: #b2afaf;
    margin-left: 14px;
    margin-top: 8px;
    font-size: 28px;
    margin-bottom: 0;
}
.text-boxes-p{
    color: #615855;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    margin-left: 14px 5px;
    margin: 5px 0px 0px 15px;
}
.text-boxes-h1 span{
    color: #c7b299;
}
.button-box{
    width: 170px;
    height: 48px;
    background: #998675;
    border-radius: 5px;
    color: white;
    font-size: 14px;
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    font-weight: 500;
    border-bottom: 3px solid #736357;
    cursor: pointer;
    position: relative;
    z-index: 1;
    overflow: hidden;
}
.button-box::before{
    content: "";
    width: 100%;
    height: 100%;
    background: #736357;
    bottom: -100%;
    left: 0;
    transition: all .5s ease;
    position: absolute;
    z-index: -1;
}
.button-box:hover::before{
    bottom: 0;
}
.latest-projects-container{
    width: 100%;
    height: 100%;
}
.latest-projects-wrapper{
    width: 100%;
    height: 250px;
}
.latest-projects{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    height: 65%;
}

.latest-projects-h1{
    margin: 0;
    font-family: 'Raleway', sans-serif;
    font-size: 30px;
    font-weight: 600;
    color: #555555;
}
.latest-projects-p{
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 16px;
    text-align: center;
    color: #555555;
    margin:0;
    line-height: 1.7;
    margin-top: 13px;
}
.latest-buttoms{
    display: flex;
    width: 100%;
    height: 35%;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
}
.latest-button{
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 300;
    border: 1px solid #998675;
    color: #998675;
    height: 30px;
    width: 140px;
    background: #ffff;
    margin-left: 10px;
    cursor: pointer;
}
.latest-button:hover{
    background: #998675;
    color: #fbfaf8;
    transition: 0.5s ease;
}
.latest-button-all{
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 300;
    border: 1px solid #998675;
    color: #998675;
    height: 30px;
    width: 70px;
    background: #ffff;  
    cursor: pointer;
}
.latest-button-all:hover{
    background: #998675;
    color: #fbfaf8;
    transition: 0.5s ease;
}
.latest-block{
    width: 100%;
    height: 100%;
}
.latest-block-block{
    width: 100%;
    min-height: 380px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}
.latest-card{
    width: 364px;
    height: 335px;
    display: flex;
    flex-direction: column;
    margin-top: 24px;

}
.latest-card-head{
    width: 364px;
    height: 232px;
    display: flex;
    overflow: hidden;
    position: relative;
    z-index: 1;
    transition: all .5s ease;
    cursor: pointer;
}
.latest-card-head::before{
    position: absolute;
    content: "";
    height: 100%;
    width: 100%;
    background: #000;
    opacity: 0.5;
    bottom: -100%;
    left: 0;
    transition:all .5s ease;
}
.latest-card-head:hover::before{
    bottom: 0;
    z-index: 2;
}

.latest-card-footer{
    width: 364px;
    height: 103px;
    display: flex;
    background-color: #777070;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
}
.latest-card-footer-h1{
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    font-weight: 500;
    color: #cebda7;
    margin: 0;
}
.latest-card-footer-p{
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 300;
    color: #d4d4d4;
    margin: 0;
}
.fa-link{
    position: absolute;
    top: 50%;
    left: 36%;
    transform: translate(-50%, -50%);
    color: #cebda7;
    font-size: 25px;
    display: none;
}
.latest-card-head:hover .fa-link{
    display: block;
    z-index: 3;
}
.fa-search-location{
    position: absolute;
    top: 50%;
    left: 53%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 25px;
    display: none;
}
.latest-card-head:hover .fa-search-location{
    display: block;
    z-index: 3;
}
.latest-card:hover .latest-card-footer{
    background-color: black;
}
.latest-card:hover .latest-card-footer h1{
    color: goldenrod;
    transition: all .2s ease;
}
.latest-card:hover .latest-card-footer p{
    color: white;
}
.latest-footer-button{
    width: 100%;
    height: 94px;
    display: flex;
    justify-content: center;
    margin-top: 50px;
}
.video-content{
    width: 100%;
    height: auto;
    background: url(img/bg_video.png);
    background-size: cover;
    background-repeat: no-repeat;
}
.video-conteiner{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}
.video-content-conteiner{
    height: 200px;
    width: 100%;
}
.video-button{
    width: 100px;
    height: 100px;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}
.video-button-border{
    width: 65px;
    height: 65px;
    border-radius: 50%;
    border: 4px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.1s ease;
}
.video-button-border:hover{
    border: 4px solid #998675;
}
.play{
    width: 55px;
    height: 55px;
    display: flex;
    justify-content: center;
    align-items: center;

}
.video-text-content{
    width: 100%;
    height: 225px;
}
.text-conteiner{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.text-conteiner-h1{
    font-family: 'Raleway', sans-serif;
    font-size: 30px;
    color: white;
    font-weight: 500;
    margin-left: 10px;
}
.text-conteiner-p{
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 300;
    color: white;
    text-align: center;
    letter-spacing: 1px;
    line-height: 1.9;
}
.videoTimer-p{
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    color: #c7b299;
}
.device-block{
    width: 100%;
    height: 660px;
    display: flex;
    flex-direction: column;
    position: relative;
}
.device-block-top{
    width: 100%;
    height: 52%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
}
.device-block-h1{
    font-family: 'Raleway', sans-serif;
    font-size: 30px;
    color: #555555;
    font-weight: 600;
    margin-right: 300px;
    margin-bottom: 11px;
    z-index: 1;
}
.device-block-p{
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 300;
    margin-right: 40px;
    margin-bottom: 3px;
    line-height: 1.8;
    z-index: 1;

}
.device-block-bottom{
    width: 100%;
    height: 48%;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    flex-direction: column;
    background-color: #fbfaf8;
}
.ul-li{
    list-style: none;
    justify-content: flex-start;
    flex-direction: column;
    display: flex;
    margin-right: 50px;
    z-index: 1;
}
.device-li{
    color: #c5c4c3;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    line-height: 2;
}
.ico{
    background: #c7b299;
    width: 21px;
    height: 20px;
    color: white;
    border-radius: 50%;
    text-align: center;
    line-height: 1;
    margin-right: 29px;
}
.device-block-img{
    position: absolute;
    top: 14px;
}
.counter{
    width: 100%;
    height: 300px;
    display: flex;
    background: linear-gradient(to right, rgba(33,27,25,1) 0%, rgba(78,52,39,1) 100%);
    justify-content: center;
}
.counter-block{
    display: flex;
    height: 100%;
    width: 90%;
    align-items: center;
    justify-content: center;
}
.counter-block-content{
    height: 100%;
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.counter-block-content i{
    color: #baa68f;
    font-size: 50px;
}
.counter-block-nubmer{
    font-family: 'Montserrat', sans-serif;
    font-size: 48px;
    font-weight: 300;
    color: white;
    margin-bottom: 0;
    margin-top: 20px;
}
.counter-block-text{
    font-family: 'Montserrat', sans-serif;
    color: #baa68f;
    text-transform: uppercase;
    font-size: 14px;
}
.counter-line{
    width: 15%;
    height: 2px;
    background-color: white;
    margin-top: 12px;
}
.recentPost{
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 753px;
}
.recent-block-text{
    width: 100%;
    height: 35%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}
.recent-block-h1{
    font-family: 'Raleway', sans-serif;
    font-size: 30px;
    font-weight: 600;
    color: #555555;
    margin-bottom: 0;
}
.recent-block-p{
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 300;
    color: #555555;
    text-align: center;
    letter-spacing: 1px;
}
.recent-block-block{
    width: 100%;
    height: 65%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.recent-card{
    display: flex;
    flex-direction: column;
    width: 362px;
    height: 392px;
    margin-top: 20px;
}
.recent-card-head{
    width: 362px;
    height: 220px;
    position: relative;
    overflow: hidden;
}
.recent-card-head::before{
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    background-color: black;
    bottom: -100%;
    left: 0;
    opacity: 0.5;
    transition: all .5s ease;
}
.recent-card-head:hover:before{
    bottom: 0;
}
.calendar{
    width: 45px;
    height: 59px;
    display: flex;
    position: absolute;
    flex-direction: column;
    top: 5%;
    left: 5%;
    transition: all .5s ease;
}
.recent-card:hover .calendar-bottom{
    background: #b77f62;
   
}
.recent-card:hover .calendar-top{
    background: #a18665;
}
.calendar-top{
    display: flex;
    width: 100%;
    height: 60%;
    background: #363636;
    align-items: center;
    justify-content: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: 300;
    color: white;
    transition: 0.5s ease;
}
.calendar-bottom{
    display: flex;
    width: 100%;
    height: 40%;
    background: #252525;
    align-items: center;
    justify-content: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 300;
    color: white;
    transition: 0.5s ease;
}
.recent-card-footer{
    height: 172px;
    width: 360px;
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid #dbdbdb;
    border-left: 1px solid #dbdbdb;
    border-right: 1px solid #dbdbdb;
    transition: 0.5s ease;
}
.recent-card:hover .recent-card-footer{
    background: #342A21;
}
.recent-card-footer-h1{
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    font-weight: 500;
    color: #555555;
    margin-left: 28px;
    margin-top: 20px;
    transition: 0.5s ease;
}
.recent-card:hover .recent-card-footer-h1{
    color: peru;
}
.recent-card:hover .recent-block-img{
    color: peru;
}
.recent-card:hover .recent-card-footer-p{
    color: #afaca5;
}
.recent-card-footer-p{
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 300;
    color: #555555;
    margin-left: 28px;
    margin-top: 5px;
    transition: 0.5s ease;
}
.recent-block-img{
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 300;
    color: #ded3c6;
    text-decoration: none;
    margin-left: 28px;
    margin-top: 11px;
}
.fa-caret-right{
    margin-left: 10px;
}
.recentPostTop{
    width: 100%;
    height: 58px;
    display: flex;
    background: #fbfaf8;
}
.partners{
    width: 100%;
    height: 300px;
    display: flex;
    background-size: cover;
    align-items: center;
    justify-content: center;
    background: url(img/bg_parnters.jpg);
    border-bottom: 1px solid white;
}
.partners-img{
    height: 80%;
    width: 95%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer{
    width: 100%;
    height: 617px;
    display: flex;
    background-color: #191919;
    flex-direction: column;
}
.footer-top{
    width: 100%;
    height: 510px;
    display: flex;
    border-bottom: 1px solid white;
}
.footer-container{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer-block{
    width: 25%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.waxom-logo-block{
    display: flex;
    width: 100%;
    height: auto;
    align-items: center;
}
.waxom-logo-img{
    margin-left: 12px;
}
.waxom-logo-block-text{
    font-family: 'Raleway', sans-serif;
    color: white;
    font-weight: 300;
    font-size: 33px;
    margin-top: 25px;
}
.footer-block-text{
    font-family: 'Montserrat', sans-serif;
    color: #4f4f4f;
    font-weight: 300;
    font-size: 14px;
    margin-left: 15px;
    line-height: 1.8;
    margin-top: 11px;
}
.waxom-block-img{
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-weight: 400;
    font-size: 14px;
    text-decoration: none;
    margin-left: 13px;

}
.footer-recent-post{
    font-family: 'Raleway', sans-serif;
    color: white;
    font-weight: 700;
    font-size: 24px;
    margin-left: 14px;
}
.data1{
    color: #eaeaea;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    font-weight: 300;
    margin-left: 14px;
    margin-top: 14px;
}
.data1-text{
    color: #555555;
    font-size: 14px;
    font-weight: 300;
    font-family: 'Montserrat', sans-serif;
    margin-left: 15px;
    margin-top: -6px;
}
.data2-text{
    color: #78634b;
    font-size: 14px;
    font-weight: 300;
    font-family: 'Montserrat', sans-serif;
    margin-left: 15px;
    margin-top: -6px;
}
.footer-line{
    width: 90%;
    height: 2px;
    background-color: #252525;
    margin-top: 9px;
    margin-left: 13px;
}
.twitter-text{
    color: #555555;
    font-size: 14px;
    font-weight: 300;
    font-family: 'Montserrat', sans-serif;
    margin-left: 15px;
    margin-top: 14px;
}
.twitter-text-span{
    color: #02afdf;
}
.twitter-time{
    font-size: 12px;
    font-weight: 300;
    font-family: 'Montserrat', sans-serif;
    color: #555555;
    margin-left: 15px;
    margin-top: -5px;
}
.twitter-text-span2{
    color: #959595;
}
.footer-recent-post3{
    font-family: 'Raleway', sans-serif;
    color: white;
    font-weight: 700;
    font-size: 24px;
    margin-left: 14px;
}
.dribbble-img{
    display: flex;
    width: 100%;
    height: 206px;
    position: relative;
}
.dribbble-img1{
    position: absolute;
    margin-left: 14px;
    margin-top: 7px;
}
.dribbble-img2{
    position: absolute;
    margin-left: 154px;
    margin-top: 6px;
}
.dribbble-img3{
    position: absolute;
    margin-top: 115px;
    margin-left: 14px;

}
.dribbble-img4{
    position: absolute;
    margin-left: 154px;
    margin-top: 115px;
}
.footer-bottom{
    width: 100%;
    height: 107px;
    background-color: black;
    display: flex;
}
.footer-bottom-container{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-around;
}
.footer-bottom-container-left{
    display: flex;
    height: auto;
    width: 50%;
    justify-content: center;
    align-items: center;
}
.footer-bottom-left{
    display: flex;
    width: 90%;
    height: auto;
    justify-content: flex-start;
}
.footer-bottom-container-right{
    display: flex;
    height: auto;
    width: 50%;
    align-items: center;
}
.footer-bottom-right{
    display: flex;
    width: 90%;
    height: auto;
    justify-content: flex-end;
}
.footer-copyright{
    font-size: 13px;
    font-weight: 300;
    font-family: 'Montserrat', sans-serif;
    color: #555555;
}
.footer-copyright span{
    color: #c4c4c4;
}
.footer-bottom-line{
    width: 2px;
    background-color: #dbdbdb;
    margin-left: 10px;
}
.privacy{
    font-size: 13px;
    font-weight: 300;
    font-family: 'Montserrat', sans-serif;
    color: #555555;
    margin-left: 12px;
}
.fqa{
    color: #bfab93;
    font-size: 13px;
    font-weight: 300;
    font-family: 'Montserrat', sans-serif;
    margin-left: 12px;
}
.support{
    font-size: 13px;
    font-weight: 300;
    font-family: 'Montserrat', sans-serif;
    color: #555555;
    margin-left: 12px;
}
.disign{
    font-size: 13px;
    font-weight: 300;
    font-family: 'Montserrat', sans-serif;
    color: #555555;
}
.disign span{
    color: #c4c4c4;
}
.evanto{
    font-size: 13px;
    font-weight: 300;
    font-family: 'Montserrat', sans-serif;
    color: #555555;
    margin-left: 12px;

}
.evanto span{
    color: #c4c4c4;
}
.white-popup {
    position: relative;
    background: #FFF;
    padding: 20px;
    width: auto;
    max-width: 60%;
    margin: 20px auto;
}

.menu-toggle{
    flex:0 0 auto;
    width:40px;
    height:40px;
    border:1px solid white;
    cursor:pointer;
    position:relative;
}
.hamburger,.cross{
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
}
.hamburger span{
    display:block;
    width:18px;
    height:2px;
    margin-bottom:3px;
    overflow:hidden;
    position:relative;
}
.hamburger span:last-child{
    margin:0;
}
.hamburger span:before,.hamburger span:after{
    content:"";
    position:absolute;
    width:100%;
    height:100%;
    background-color:white;
    transform:translateX(-200%);
    transition:transform ease 300ms;
}
.hamburger span:after{
    transform:translateX(0);
}
.hamburger span:nth-child(2):before,.hamburger span:nth-child(2):after{
    transition-delay:75ms;
}
.hamburger span:last-child:before,.hamburger span:last-child:after{
    transition-delay:150ms;
}
.menu-toggle:hover .hamburger span:before{
    transform:translateX(0);
}
.menu-toggle:hover .hamburger span:after{
    transform:translateX(200%);
}
.menu-toggle.active .hamburger span:before{
    transform:translateX(100%);
}
.menu-toggle.active .hamburger span:after{
    transform:translateX(200%);
}
.cross span{
    display:block;
    width:18px;
    height:2px;
    background-color:white;
    transform:translateY(50%) rotate(45deg) scaleX(0);
    transition:transform ease 200ms;
}
.cross span:last-child{
    transform:translateY(-50%) rotate(-45deg) scaleX(0);
}
.menu-toggle.active .cross span{
    transition-delay:450ms;
    transform:translateY(50%) rotate(45deg) scaleX(1);
}
.menu-toggle.active .cross span:last-child{
    transform:translateY(-50%) rotate(-45deg) scaleX(1);
}
.mobile-menu{
    display: none;
}

